bs4
chromadb # gotcha on win11 -> need Visual Studio C++ Build Tools 
jsonschema
langchain
langchain-chroma
langchain-community
langchain-huggingface 
numpy
ollama
pymupdf4llm
requests
sentence-transformers
pymupdf4llm